{% extends 'base.html' %}

{% block content%}
    
    <div class="container">
        <h1>Task </h1>
        <ul>
            {% for task in task_list %}
                <li>
                    {% if task.complete == True %}
                    <a href="/todo/task_detail/{{task.id}}" class="btn btn-success" role="button">{{task}}</a>
                    {% else %}
                    <a href="/todo/task_detail/{{task.id}}" class="btn btn-secondary" role="button">{{task}}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

